= simple_form_for [:administration, @parent, @model], as: :data do |f|
  = f.input :title, required: false
  = f.input :description, as: :text, required: false

  = render "administration/shared/form_actions", f: f
