---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F%2F09GxtNICPh-n7CgYIARAAGAkSNwF-L9IrHl2ZDITFmhrclr34MWEzVVk7r8zhE_KDCVZtiiW6uqZvK4cW3viv6AbWDxO-dL87YtA&client_id=634131184869-qt64vu47i164012oc80l7ga8f1mf61aj.apps.googleusercontent.com&client_secret=NJsF7zJau-tuXmquGzrHsg4V
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.a0AfH6SMAu0XPSXNu0ijDO0HxvJ4kt-w03vKKT7PckXXRxnZQVvNzvKZy4cUDJV-B94E_iw3dxG-hUTqjTaDYTI1FW1X4_TkYRaa-RcJZcvlkj5_47XpLgsUAIZ-ZvLRhc_BD21KuSniuTub_-FFD8botk62FX2Bth24M",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Tue, 21 Jul 2020 21:48:33 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/sj68t3sbene75h08sc7d0b7i6c@group.calendar.google.com/events
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.a0AfH6SMAu0XPSXNu0ijDO0HxvJ4kt-w03vKKT7PckXXRxnZQVvNzvKZy4cUDJV-B94E_iw3dxG-hUTqjTaDYTI1FW1X4_TkYRaa-RcJZcvlkj5_47XpLgsUAIZ-ZvLRhc_BD21KuSniuTub_-FFD8botk62FX2Bth24M
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p32kbtbsel3fuk0g\"",
         "summary": "Test",
         "updated": "2020-07-21T21:42:59.721Z",
         "timeZone": "UTC",
         "accessRole": "owner",
         "defaultReminders": [],
         "nextSyncToken": "CKi-r46o3-oCEKi-r46o3-oCGAU=",
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3190735559442000\"",
           "id": "4qeoddnqdbr96r7umheat8299c",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=NHFlb2RkbnFkYnI5NnI3dW1oZWF0ODI5OWMgc2o2OHQzc2JlbmU3NWgwOHNjN2QwYjdpNmNAZw",
           "created": "2020-07-21T21:42:59.000Z",
           "updated": "2020-07-21T21:42:59.721Z",
           "summary": "Test",
           "description": "Test",
           "creator": {
            "email": "aronwolf90@gmail.com"
           },
           "organizer": {
            "email": "sj68t3sbene75h08sc7d0b7i6c@group.calendar.google.com",
            "displayName": "Test",
            "self": true
           },
           "start": {
            "dateTime": "2020-07-21T20:42:59Z"
           },
           "end": {
            "dateTime": "2020-07-21T21:42:59Z"
           },
           "iCalUID": "4qeoddnqdbr96r7umheat8299c@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": true
           }
          }
         ]
        }
  recorded_at: Tue, 21 Jul 2020 21:48:33 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2F%2F09GxtNICPh-n7CgYIARAAGAkSNwF-L9IrHl2ZDITFmhrclr34MWEzVVk7r8zhE_KDCVZtiiW6uqZvK4cW3viv6AbWDxO-dL87YtA&client_id=634131184869-qt64vu47i164012oc80l7ga8f1mf61aj.apps.googleusercontent.com&client_secret=NJsF7zJau-tuXmquGzrHsg4V
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.a0AfH6SMCsqg1046R77q0q5e2_RpHgXtiwUb7MBqr8cnTaTH3zkTuanO5PABADkjqfFShztfegGFrlPSK1eJizSYsD2oPODaWKIdxbeT37-c7MySgnDErc4IcJ6nThliA6ytexBLo89xLrMvnv-IXEYiZ7Up_nD_76ng8",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Tue, 21 Jul 2020 21:48:33 GMT
recorded_with: VCR 6.0.0
