---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=REFRESH_TOKEN&client_id=CLIENT_ID&client_secret=CLIENT_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ACCESS_TOKEN",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Tue, 21 Jul 2020 21:42:53 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars
    body:
      encoding: UTF-8
      string: '{"summary":"Test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7qkL9elXVKDE8f698tBrCStNsbE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendar",
         "etag": "\"7qkL9elXVKDE8f698tBrCStNsbE\"",
         "id": "sj68t3sbene75h08sc7d0b7i6c@group.calendar.google.com",
         "summary": "Test",
         "timeZone": "UTC",
         "conferenceProperties": {
          "allowedConferenceSolutionTypes": [
           "hangoutsMeet"
          ]
         }
        }
  recorded_at: Tue, 21 Jul 2020 21:42:59 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/sj68t3sbene75h08sc7d0b7i6c@group.calendar.google.com/events
    body:
      encoding: UTF-8
      string: '{"description":"Test","end":{"dateTime":"2020-07-21T23:42:59.481+02:00"},"start":{"dateTime":"2020-07-21T22:42:59.481+02:00"},"summary":"Test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ACCESS_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"3190735559442000"'
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3190735559442000\"",
         "id": "4qeoddnqdbr96r7umheat8299c",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=NHFlb2RkbnFkYnI5NnI3dW1oZWF0ODI5OWMgc2o2OHQzc2JlbmU3NWgwOHNjN2QwYjdpNmNAZw",
         "created": "2020-07-21T21:42:59.000Z",
         "updated": "2020-07-21T21:42:59.721Z",
         "summary": "Test",
         "description": "Test",
         "creator": {
          "email": "aronwolf90@gmail.com"
         },
         "organizer": {
          "email": "sj68t3sbene75h08sc7d0b7i6c@group.calendar.google.com",
          "displayName": "Test",
          "self": true
         },
         "start": {
          "dateTime": "2020-07-21T20:42:59Z"
         },
         "end": {
          "dateTime": "2020-07-21T21:42:59Z"
         },
         "iCalUID": "4qeoddnqdbr96r7umheat8299c@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": true
         }
        }
  recorded_at: Tue, 21 Jul 2020 21:42:59 GMT
recorded_with: VCR 6.0.0
