{{ if "google.createSecret" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-google
  labels:
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
type: Opaque
data:
  GOOGLE_CALENDER_CLIENT_ID: {{ .Values.google.clientId | b64enc | quote }}
  GOOGLE_CALENDER_CLIENT_SECRET: {{ .Values.google.calenderSecret | b64enc | quote }}
{{ end }}
