---
http_interactions:
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/7q0l65fkmgppe7jrno6emqj6o4@group.calendar.google.com/events/18a9t3c5dnn46voqn6c8imajm4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ACCESS_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Jul 2020 22:18:35 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=REFRESH_TOKEN&client_id=CLIENT_ID&client_secret=CLIENT_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ACCESS_TOKEN",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 23 Jul 2020 22:18:35 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/7q0l65fkmgppe7jrno6emqj6o4@group.calendar.google.com/events?syncToken=CNjI1eWz5OoCENjI1eWz5OoCGAU=
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ACCESS_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p33kcl676mfiek0g\"",
         "summary": "Test",
         "updated": "2020-07-23T22:18:35.377Z",
         "timeZone": "UTC",
         "accessRole": "owner",
         "defaultReminders": [],
         "nextSyncToken": "COjKmOaz5OoCEOjKmOaz5OoCGAU=",
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3191085430754000\"",
           "id": "18a9t3c5dnn46voqn6c8imajm4",
           "status": "cancelled"
          }
         ]
        }
  recorded_at: Thu, 23 Jul 2020 22:18:36 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=REFRESH_TOKEN&client_id=CLIENT_ID&client_secret=CLIENT_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ACCESS_TOKEN",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 23 Jul 2020 22:18:36 GMT
recorded_with: VCR 6.0.0
