---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=REFRESH_TOKEN&client_id=CLIENT_ID&client_secret=CLIENT_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ACCESS_TOKEN",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 23 Jul 2020 22:02:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/7q0l65fkmgppe7jrno6emqj6o4@group.calendar.google.com/events
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ACCESS_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#events",
         "etag": "\"p338d3r74lviek0g\"",
         "summary": "Test",
         "updated": "2020-07-23T22:00:38.818Z",
         "timeZone": "UTC",
         "accessRole": "owner",
         "defaultReminders": [],
         "nextSyncToken": "CNDR7OSv5OoCENDR7OSv5OoCGAU=",
         "items": [
          {
           "kind": "calendar#event",
           "etag": "\"3191083277636000\"",
           "id": "18a9t3c5dnn46voqn6c8imajm4",
           "status": "confirmed",
           "htmlLink": "https://www.google.com/calendar/event?eid=MThhOXQzYzVkbm40NnZvcW42YzhpbWFqbTQgN3EwbDY1ZmttZ3BwZTdqcm5vNmVtcWo2bzRAZw",
           "created": "2020-07-23T22:00:38.000Z",
           "updated": "2020-07-23T22:00:38.818Z",
           "summary": "New event",
           "description": "Test",
           "creator": {
            "email": "aronwolf90@gmail.com"
           },
           "organizer": {
            "email": "7q0l65fkmgppe7jrno6emqj6o4@group.calendar.google.com",
            "displayName": "Test",
            "self": true
           },
           "start": {
            "dateTime": "2020-07-23T21:00:32Z"
           },
           "end": {
            "dateTime": "2020-07-23T22:00:32Z"
           },
           "iCalUID": "18a9t3c5dnn46voqn6c8imajm4@google.com",
           "sequence": 0,
           "reminders": {
            "useDefault": true
           }
          }
         ]
        }
  recorded_at: Thu, 23 Jul 2020 22:02:24 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=REFRESH_TOKEN&client_id=CLIENT_ID&client_secret=CLIENT_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ACCESS_TOKEN",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 23 Jul 2020 22:02:25 GMT
recorded_with: VCR 6.0.0
