= simple_form_for [:administration, :archive, @model], as: :data do |f|
  = f.input :name
  = f.input :folder_id, collection: Folder.all, required: false

  = render "administration/shared/form_actions", f: f
